@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply rounded bg-neutral-200 py-1.5 px-3 font-bold text-neutral-900 hover:bg-neutral-800 hover:text-neutral-100 dark:bg-neutral-900 dark:text-neutral-100 dark:hover:bg-neutral-700;
}

.active-btn {
  @apply bg-gradient-to-r from-red-500 to-purple-700 text-neutral-100 shadow-sm;
}

.container {
  @apply mx-auto max-w-4xl pt-36;
}

.linkedin {
  color: #0a66c2;
}

.twitter {
  color: #1da1f2;
}

.github {
  color: #bd2c00;
}
